extends layout

block page
    h1.mt-5 Pick your own flavour 

    form(method="POST" id="ingredientsForm")
        each val in ingredient 
            .form-check
                input.form-check-input(type='checkbox' name='ingredients' value=`${val}`)
                label.form-check-label(for=`${val}`)
                | #{val}
        button.btn.btn-primary.col-sm-3.mt-3(id="ingredientsForm" type='submit') Search

    div(id="ingredientsFeedback" class="invalid-feedback" ) Please select at least one ingredient.
