extends layout

block page
    h1.mt-5 Pick your own flavour 

    //- ul.list-group.list-group-flash
    //-     li.list-group-item #{val}

    form
        each val in ingredient 
            .form-check
                input.form-check-input(type='checkbox' name='#{val}')
                label.form-check-label(for='#{val}')
                | #{val}
        button.btn.btn-primary.col-sm-3(type='submit') Search